html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #f0f0c9 0%, #f0f08d 100%);
    overflow: hidden;
}
  
body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #ffffff;
} 

a:link {
    color: #ffffff;
}
  
a:visited {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}

.pinklight {
    text-shadow: 0 0 10px #ea60b1,
                 0 0 20px #ea60b1,
                 0 0 30px #ea60b1,
                 0 0 40px #bb468a,
                 0 0 70px #bb468a,
                 0 0 80px #bb468a,
                 0 0 100px #bb468a,
                 0 0 150px #bb468a;
}

h1 {
    padding-top: 30px;
  }
  
@media (min-width: 768px) {
    h1 {
        margin-bottom: 30px;
        margin-top: 20px;
        font-size: 100px;
    }
}

#name {
    right: 10px;
}